{% extends "base.html" %}{% block title %}欢迎光临首页{% endblock %}{% block content %}<table class="table table-striped"><caption>linux百科</caption><thead><tr><th>网址</th><th>词条</th><th>简介</th></tr></thead><tr><td>http://baike.baidu.com/view/1634.htm</td><td>linux</td><td>
Linux是一套免费使用和自由传播的类Unix操作系统，是一个基于POSIX和UNIX的多用户、多任务、支持多线程和多CPU的操作系统。它能运行主要的UNIX工具软件、应用程序和网络协议。它支持32位和64位硬件。Linux继承了Unix以网络为核心的设计思想，是一个性能稳定的多用户网络操作系统。Linux操作系统诞生于1991 年10 月5 日（这是第一次正式向外公布时间）。Linux存在着许多不同的Linux版本，但它们都使用了Linux内核。Linux可安装在各种计算机硬件设备中，比如手机、平板电脑、路由器、视频游戏控制台、台式计算机、大型机和超级计算机。严格来讲，Linux这个词本身只表示Linux内核，但实际上人们已经习惯了用Linux来形容整个基于Linux内核，并且使用GNU 工程各种工具和数据库的操作系统。
</td></tr><tr><td>http://baike.baidu.com/view/79415.htm</td><td>快捷方式</td><td>
桌面上那些五颜六色的图标可能大家非常熟悉吧？不知大家注意到没有，这些图标都有一个共同的特点，在每个图标的左下角都有一个非常小的箭头。这个箭头就是用来表明该图标是一个快捷方式的。快捷方式是Windows提供的一种快速启动程序、打开文件或文件夹的方法。它是应用程序的快速连接。 快捷方式的一般扩展名为*.lnk。
</td></tr><tr><td>http://baike.baidu.com/view/757238.htm</td><td>多任务</td><td>
多任务处理是指用户可以在同一时间内运行多个应用程序,每个应用程序被称作一个任务.Linux、windows就是支持多任务的操作系统,比起单任务系统它的功能增强了许多。当多任务操作系统使用某种任务调度策略允许两个或更多进程并发共享一个处理器时，事实上处理器在某一时刻只会给一件任务提供服务。因为任务调度机制保证不同任务之间的切换速度十分迅速，因此给人多个任务同时运行的错觉。多任务系统中有3个功能单位：任务、进程和线程。
</td></tr><tr><td>http://baike.baidu.com/view/53557.htm</td><td>系统资源</td><td>
当应用程序在Windows中运行时，Windows必须实时"跟踪"该应用程序的运行，并保留与之相关的许多信息，如光标、窗口的状况等，这些信息由Windows保留在一种叫堆的内存块中，堆的英文为Heap。简单地说，堆是采用特殊机制管理的内存块。由Windows的一个系统内核User.exe管理的堆叫作User资源堆（User Resource Heap），由另一个系统内核Gdi.exe管理的堆叫作GDI资源堆（Graphical Device Interface Resource Heap），User资源堆和GDI资源堆合称为系统资源堆（System Resource Heap），习惯上就把它们叫作系统资源（System Resource）。
</td></tr><tr><td>http://baike.baidu.com/view/3289073.htm</td><td>类UNIX系统</td><td>
类Unix系统（英文：Unix-like）指各种传统的Unix系统（比如FreeBSD、OpenBSD、SUN公司的Solaris）以及各种与传统Unix类似的系统（例如Minix、Linux、QNX等）。它们虽然有的是自由软件，有的是商业软件，但都相当程度地继承了原始UNIX的特性，有许多相似处，并且都在一定程度上遵守POSIX规范。
</td></tr><tr><td>http://baike.baidu.com/view/7348571.htm</td><td>桌面管理器</td><td>
桌面管理器是多主机远程桌面连接管理器。
</td></tr><tr><td>http://baike.baidu.com/view/18979.htm</td><td>插件</td><td>
插件(Plug-in,又称addin、add-in、addon或add-on,又译外挂)是一种遵循一定规范的应用程序接口编写出来的程序。其只能运行在程序规定的系统平台下（可能同时支持多个平台），而不能脱离指定的平台单独运行。因为插件需要调用原纯净系统提供的函数库或者数据。很多软件都有插件，插件有无数种。例如在IE中，安装相关的插件后，WEB浏览器能够直接调用插件程序，用于处理特定类型的文件。插件的定位是开发实现原纯净系统平台、应用软件平台不具备的功能的程序，其只能运行在程序规定的系统平台下（可能同时支持多个平台），而不能脱离指定的平台单独运行。因为插件需要调用原纯净系统提供的函数库或者数据。
</td></tr><tr><td>http://baike.baidu.com/view/3998653.htm</td><td>网站系统</td><td>
网站系统又名网站CMS系统，主要用途是为了节约网站开发的成本而开发的建站系统。早期的网站系统一般叫自助建站系统。现在的网站系统又分为企业网站系统，论坛系统，门户站系统和购物网站系统。
</td></tr><tr><td>http://baike.baidu.com/view/13772.htm</td><td>娱乐</td><td>
现代娱乐可被看作是一种通过表现喜怒哀乐或自己和他人的技巧而使与受者喜悦、放松，并带有一定启发性的活动。很显然，这种定义是广泛的，它包含了悲喜剧、各种比赛和游戏、音乐舞蹈表演和欣赏等等。
</td></tr><tr><td>http://baike.baidu.com/view/2396.htm</td><td>英特尔</td><td>
英特尔公司[1] 
是美国一家主要以研制CPU处理器的公司，是全球最大的个人计算机零件和CPU制造商，它成立于1968年，具有46年产品创新和市场领导的历史。1971年，英特尔推出了全球第一个微处理器。微处理器所带来的计算机和互联网革命，改变了整个世界。在2016年世界五百强中排在第158位。[2] 
2014年2月19日，英特尔推出处理器至强E7 v2系列采用了多达15个处理器核心，成为英特尔核心数最多的处理器。[3] 
2014年3月5日，Intel收购智能手表Basis Health Tracker Watch的制造商Basis Science。[4] 
2014年8月14日，英特尔6.5亿美元收购Avago旗下公司网络业务。2015年12月斥资167亿美元收购了Altera公司。2016年4月底，英特尔公司发言人证实，原定在2016年推出的移动处理器凌动产品线的两个新版本将会取消发布，换言之，英特尔将会退出智能手机芯片市场。[5] 
2016年7月，英特尔宣布该公司历史上规模最大的裁员计划，准备削减1.2万人。[6] 

</td></tr></table>{% endblock %}